	<header class="panel-heading">
		<input style="display:none;"  id="id_hallazgo" type="text" value="{{ hallazgo.id }}">
				<div class="panel-actions">
				<a class="fa fa-times" data-dismiss="modal"></a>
				</div>
				<h2 class="panel-title">Actualizar Hallazgos   </h2>

	</header>

			<form  method="POST" enctype="multipart/form-data"  action="" >
 {% csrf_token %}

				<div class="panel-body">


					 <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
    					  {% for error in form.non_field_errors %}
        					{{ error }}
     					 {% endfor %}
    				</div>


                <div class="row">

 					<div class="col-md-3">
                        <div  class="form-group">

                            <label >N° de Hallazgo</label>
					            {{ form.numero_hallazgo }}
								<br>

                        </div>
                    </div>





					<div class="col-md-12">
					<div  class="form-group">

                            <label >Responsable del hallazgo</label>
					            {{ form.jefatura_id}}

                        </div>

						<div  class="form-group">

                            <label >Cargo Responsable</label>
					            {{ form.cargo_responsable_id}}

                        </div>
						</div>


                    <div class="col-md-6">
  						<div  class="form-group">

                            <label >Proceso/Subproceso/Etapa/Proyecto/Otro</label>
					            {{ form.proceso }}

                        </div>



					</div>
					 <div class="col-md-6">

                        <div  class="form-group">

                            <label >Naturaleza del Trabajo</label>
					            {{ form.naturaleza}}

                        </div>


			</div>

	<div class="col-md-12">
						<div  class="form-group">

                            <label >Descripción del Hallazgo</label>
					            {{ form.descripcion_hallazgo}}

                    </div>
		  				 <div  class="form-group">

                            <label >Opinión Criticidad Micro</label>
					            {{ form.opinion}}

                        </div>

						<div  class="form-group">

                            <label >Anexo</label>
					            {{ form.document }}

                    </div>

					    <div  class="form-group">

                            <label >Criterios</label>
					            {{ form.criterios }}

                        </div>

					 <div  class="form-group">

                            <label >Causas</label>
					            {{ form.causas}}
                    </div>

					 <div  class="form-group">

                            <label >Efectos</label>
					            {{ form.efectos }}

                        </div>
						<div  class="form-group">

                            <label >¿Sumario?</label>
					            {{ form.sumario}}

                        </div>

						   <div  class="form-group">

                            <label >Recomendación</label>
					            {{ form.recomendacion}}

                        </div>
							<label >Plazo Estimado</label>
							 <div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-calendar"></i>
								</span>
								<input id="fecha_plazo_hallazgo"  type="date" class="form-control" aria-valuetext="{{ form.plazo }} <!--">-->
							 </div>

					 </div>



			</div>

			<div class="modal-footer">



				<button class="btn btn-primary" type="submit" id="confirmar"  >Confirmar</button>
				<button class="enviar btn btn-warning float-right" {%if hallazgo.estado_hallazgo != None %} disabled {%endif%} type="button">Enviar</button>
				<button class="btn btn-default" type="button" data-dismiss="modal">Cancelar</button>
			</div>

				<div class="alert alert-danger" style="display:none;" id="mjeError">

										<p id="textError"></p>
				</div>

                    </div>

			</form>

	<div class="modal" id="confirm-enviar-hallazgo" tabindex="-1" role="dialog" style="margin: 0px 0px 0px 95px">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <header class="panel-heading">
				<div class="panel-actions">

				</div>
				<h2 class="panel-title">Validación actividad</h2>
			</header>
      <div class="modal-body">

			<form method="post" action="" id="post-form-enviar">
			  {% csrf_token %}
				<div class="panel-body">
				<div class="modal-wrapper">
					<div class="modal-icon">
						<i class="fa fa-warning"></i>
							</div>
						<div class="modal-text">
							<h4>Atención</h4>
							<p>¿Está seguro que desea <strong>enviar</strong> el Hallazgo?. </p>


						</div>
					</div>
				</div>
				<div id="enviar" style="display:none; text-align:left; " class="alert alert-info" role="alert">
            Enviando correos, favor espere...
       		 </div>

			<div  id="enviado" style="display:none; text-align:left; " class="alert alert-success" role="alert">
            El hallazgo y el correo de notificación fueron enviados<br>correctamente.
       		 </div>

			<div  id="enviado_hallazgo" style="display:none; text-align:left; " class="alert alert-warning" role="alert">
            El hallazgo fue enviado correctamente, pero el servicio <br> de correo tuvo un inconvenciente por lo cual <br>no fue enviado.
       		 </div>

					<div  id="enviado_error" style="display:none; text-align:left; " class="alert alert-danger" role="alert">
            El hallazgo no fue enviado debido a un error de sistema <br> vuelva a intentarlo, de persistir comuníquese <br>con el administrador.
       		 </div>

			  <div class="modal-footer">
				<button class="btn btn-danger" type="submit"  id="confirmar_envio">Confirmar</button>
				 <button class="btn btn-default" type="button" id="cancelar" onclick="$('#confirm-enviar-hallazgo').hide();">Cancelar</button>
			  	<button class="btn btn-default" style="display:none;" type="button" id="salir" onclick="setInterval(function() {window.location.reload();}, 1000);">Salir</button>
			  </div>

			</form>

      </div>
    </div>
  </div>
</div>

	{% block extrajs %}
    <script type="text/javascript">
        $(".estado").click(function () {
            $('#id_estado_flujo').val('8');
        });


               $('#confirmar_envio').click(function() {

     $( this ).hide();
     $( '#cancelar' ).hide();
     $( '#confirmar_envio' ).hide();
     $( '#display_confirmar' ).hide();
      $( '#enviar' ).fadeIn();
        });
    </script>
{% endblock %}

	<script>
	$(function() {

       $('#siteID').select2({
        dropdownParent: $('#modalCreate')
    });

});

function numberOnly(id) {
		var element = document.getElementById(id);
		element.value = element.value.replace(/[^0-9]/gi, "");
	}

$('#modalUpdate').on("click", ".enviar", function(event){

 if (!validarTxt('txt_numero')) {return false;}
 if (!validarTxt('txt_proceso')) {return false;}
 if (!validarTxt('fecha_plazo_hallazgo')) {return false;}
 if (!validarTxt('txt_descripcion')) {return false;}
 if (!validarTxt('txt_criterios')) {return false;}
 if (!validarTxt('txt_causas')) {return false;}
 if (!validarTxt('txt_efectos')) {return false;}
 if (!validarTxt('txt_recomendacion')) {return false;}
 if (!validarTxt('txt_proceso')) {return false;}
 if (!validarListbox('id_opinion')) {return false;}
 if (!validarListbox('id_sumario')) {return false;}
 if (!validarListbox('id_naturaleza')) {return false;}

    $('#confirm-enviar-hallazgo').show().scrollTop(0);

});

   function validarTxt(id) {
        if ($("#" + id).val() == "") {
            $("#" + id).css("border-color", "#FF0000");
            alert('Faltan datos por llenar');
            $("#" + id).focus();
            return false;
        } else {
            $("#" + id).css("border-color", "");
            return true;
        }
    };

     function validarListbox(id) {

        if ($("#" + id).val() == 0) {
            $("#" + id).css("border-color", "#FF0000");
            alert('Faltan datos Por llenar');
            $("#" + id).focus();
            return false;
        } else {
            $("#" + id).css("border-color", "");
            return true;
        }
    };

$(function() {

//////////////enviar hallazgo//////////////////////


 $(document).on('submit', '#post-form-enviar',function(e){
     e.preventDefault();
    $.ajax({
        type:'POST',
        url:'{% url "hallazgoUpdateEstado" %}',
        data:{
            id_hallazgo:$('#id_hallazgo').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            estado_hallazgo:1,
            action: 'post'
        },
        success:function(json){



      	//alert(json.error);

      	if(json.error==1){



			$("#enviar").hide();
			$( '#enviado' ).fadeIn();
			 $( '#salir' ).show();



      	}

      	if(json.error==2){



			$("#enviar").hide();
			$( '#enviado_hallazgo' ).fadeIn();
			 $( '#salir' ).show();

      	}

      	if(json.error==3){



			$("#enviar").hide();
			$( '#enviado_error' ).fadeIn();
			 $( '#salir' ).show();


      	}





        // $("#confirm-enviar-hallazgo").hide();


		 //$('#confirm-plan').hide();
		//setInterval(function() {window.location.reload();}, 1000);

        },
        error : function(json, xhr,errmsg,err) {
        $('#confirm-enviar-hallazgo').hide();
		alert(json.error + "post:" + xhr.responseText);

    }
    });
});

});
		</script>

	<style>

		@media (min-width: 576px)
.modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 1));
}

.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (.2rem * 1));
}
	</style>