{% extends 'base/base.html' %}
{% load sitetree %}

{% block title %}
Panel Resúmen
{% endblock %}

{% block extrajs %}
<script type="text/javascript">


$( document ).ready(function() {

///////////////////////////////////graficos 1ra jefatura///////////////////////////////




var ctx6 = $('#chart_seis');

var nElementos= 0;
{% for item in UnidadesAsociadas %}
var nElementos= nElementos + 1;
{%  endfor %}

var ctx6 = $('#chart_seis');

var nElementos= 0;
{% for item in UnidadesAsociadas %}
var nElementos= nElementos + 1;
{%  endfor %}

var myChart6 = new Chart(ctx6, {
    type: 'bar',
    data: {
        labels: [{% for item3 in UnidadesAsociadas %}'{{ item3.jefatura_id__id_nivel__descripcion_nivel}} ', {% endfor %}],
        datasets: [{
            minBarLength: 1,
			label: 'Auditorías Abiertas',
       		 data: {{ valores.ValAbiertas }},
       		 borderWidth: 0,
       		 backgroundColor: poolColors(nElementos),
       },{
			 minBarLength: 1,
        	 label: 'Auditorías Cerradas',
       		 data: {{ valores.ValCerradas }},
       		 borderWidth: 0,
       		 backgroundColor: poolColors(nElementos),

        }]
    },
    options: {

    			title: {
					display: true,
					text: 'Auditorías por Unidad'
				},

	           legend: {
           		 display: false
         		},

         		scales: {
					yAxes: [{


					  ticks: {
						beginAtZero:true,
						// max:plugin.settings.maxDataValue,
						//maxTicksLimit: 5
						stepSize: 5,
						suggestedMin:0,
					  }
					}]
				},

      		  plugins: {
			  datalabels: {
				anchor: 'end',
				align: 'top',
				formatter: Math.round,
				color: '#a7a7a7',
				font: {
				  size: '10'

				}
			  }
			}




    }
});

/////////////////////Fin graficos 1ra jefatura////////////////////


function dynamicColors() {
    var r = Math.floor(Math.random() * 255);
    var g = Math.floor(Math.random() * 255);
    var b = Math.floor(Math.random() * 255);
    return "rgba(" + r + "," + g + "," + b + ", 1)";
}

function poolColors(a) {
    var pool = [];
    for(i = 0; i < a; i++) {
        pool.push(dynamicColors());
    }
    return pool;
}




});



$("#download_por_actividad_detalle").click(function(){
  /*Get image of canvas element*/
  var url_base64jp = document.getElementById("chart_seis").toDataURL("image/jpg");
  /*get download button (tag: <a></a>) */
  var a =  document.getElementById("download_por_actividad_detalle");
  /*insert chart image url to download button (tag: <a></a>) */
  a.href = url_base64jp;
});

		</script>
	{% endblock %}




{% block content %}


{% if GrupoDashboard == 'GrupoDirector' %}



<div class="col-md-6" >
<section class="panel">

<div class="panel-body" style="background-color: #0088cc; color: white; height:35px;">


<h5 style=" text-align:left; margin-top:-5px;">Auditorías Abiertas: {{ total_auditorias.abiertas}}</h5>

</div>
</section>
</div>

<div class="col-md-6">
<section class="panel">

<div class="panel-body" style="background-color: #0088cc; color: white; height:35px;">

<h5 style=" text-align:left; margin-top:-5px;">Auditorías Cerradas: {{total_auditorias.cerradas}} </h5>


</div>
</section>
</div>



<div class="col-md-12">
<section class="panel">

<div class="panel-body">
												<div class="row text-center">
													<div style="text-align:left; margin-left:15px;">Tipos de Auditorías</div>
													<div class="col-md-2">
														<div  class="circular-bar">
															<div class="circular-bar-chart" data-percent="{{auditorias.total_institucional_per}}" data-plugin-options='{"size": 127, "barColor": "#70ad47", "delay": 300 }'>
																<strong style="font-size:13px;" >Institucional</strong>
																<label><span style="font-size:14px; " class="percent">{{auditorias.total_institucional_per}}</span>%</label>
																<label style="margin-top:20px; margin-left:-2px; font-size:14px;"><span class="">({{auditorias.total_institucional}})</span></label>
															</div>
														</div>
													</div>
													<div class="col-md-3">
														<div class="circular-bar">
															<div class="circular-bar-chart" data-percent="{{auditorias.total_ministerial_per}}" data-plugin-options='{"size": 127, "barColor": "#2BAAB1", "delay": 600 }'>
																<strong style="font-size:13px;">Ministerial</strong>
																<label><span style="font-size:14px; " class="percent">{{auditorias.total_ministerial_per}}</span>%</label>
																<label style="margin-top:20px; margin-left:-2px; font-size:14px;"><span class="">({{auditorias.total_ministerial}})</span></label>
															</div>
														</div>
													</div>

													<div class="col-md-2">
														<div class="circular-bar">
															<div class="circular-bar-chart" data-percent="{{auditorias.total_gubernamental_per}}" data-plugin-options='{ "size": 127,"barColor": "#e6ac00", "delay": 600 }'>
																<strong style="font-size:13px;">Gubernamental</strong>
																<label><span style="font-size:14px; " class="percent">{{auditorias.total_gubernamental_per}}</span>%</label>
																<label style="margin-top:20px; margin-left:-2px; font-size:14px;"><span class="">({{auditorias.total_gubernamental}})</span></label>
															</div>
														</div>
													</div>
													<div  class="col-md-3">
														<div  class="circular-bar">
															<div  class="circular-bar-chart" data-percent="{{auditorias.total_extraordinaria_per}}" data-plugin-options='{"size": 127, "barColor": "#ca3939", "delay": 600 }'>
																<strong style="font-size:13px;">Extraordinaria</strong>
																<label><span style="font-size:14px; " class="percent">{{auditorias.total_extraordinaria_per}}</span>%</label>
																<label style="margin-top:20px; margin-left:-2px; font-size:14px;"><span class="">({{auditorias.total_extraordinaria}})</span></label>
															</div>
														</div>
													</div>
																										<div  class="col-md-2">
														<div  class="circular-bar">
															<div  class="circular-bar-chart" data-percent="{{auditorias.total_otra_per}}" data-plugin-options='{"size": 127, "barColor": "#81a9da", "delay": 600 }'>
																<strong style="font-size:13px;">Otros</strong>
																<label><span style="font-size:14px; " class="percent">{{auditorias.total_otra_per}}</span>%</label>
																<label style="margin-top:20px; margin-left:-2px; font-size:14px;"><span class="">({{auditorias.total_otra}})</span></label>
															</div>
														</div>
													</div>




												</div>
												<div style="text-align:right;">Total Auditorías: {{total_auditorias_suma.total}}</div>
											</div>

										</section>


</div>




<div class="col-md-12">
<section class="panel">
<div class="panel-body">

	<canvas id="chart_seis" ></canvas>
		<div style="text-align:right; ">
			<a id="download_por_actividad_detalle" style="width:20px; height:20px;"  name="download_por_actividad_detalle"  download="Avance_por_actividad_detalle.jpg" href="" class="btn btn-sm btn-success" title="Descargar Gráfico" data-toggle="tooltip" data-original-title="Tooltip on bottom" data-placement="top">
			<span style="margin-left:-5px; " class="fa fa-download"></span>
		</a>
		</div>
	</div>
</section>
</div>

{% endif %}



{% endblock %}