{% extends 'base/base.html' %}
{% load sitetree %}

{% block title %}
Dashboard
{% endblock %}

{% block extrajs %}

Dashboard Admin

{% endblock %}


{% block content %}

{% if messages %}
		  {% for message in messages %}

			<div style="border-radius:0;" {% if message.tags %} id="danger-alert" class="{{request.session.message_class}} fade show mb-0" role="alert" {% endif %}>
			  {{ message }}
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>

		  {% endfor %}

	{% endif %}




	{% endblock %}
