{% extends 'base/base.html' %}
{% load sitetree %}

{% block title %}
Estructura Primer Nivel
{% endblock %}


{% block content %}
<section class="panel">
							<header class="panel-heading">
								<div class="panel-actions">
								</div>

								<h2 class="panel-title">Gestión Primer Nivel</h2>
							</header>
        {% if ObjectList %}

							<div class="panel-body">
								<table class="table table-bordered  mb-none" id="datatable-default">
									<thead>
										<tr>
											<th>Descripción Nivel</th>
											<th>Opción</th>
										</tr>
									</thead>
									<tbody>
                                            {% for Ges_PrimerNivel in ObjectList %}
                                                <tr>

                                                    <td> {{ Ges_PrimerNivel.descripcion_nivel }}</td>

                                                    <td style="width:90px; text-align:center;">
																 <a type="button" title="Ir a Tercer Nivel" id="TercerNivel" href="{% url 'SegundoNivel' Ges_PrimerNivel.id %}"  class="btn btn-sm btn-primary"   >
														<span class="fa fa-bars"></span></a>


                                                    </td>

                                                </tr>
                                            {% endfor %}

									</tbody>
								</table>
							</div>

     {% else %}
      <p>No hay registros en la lista</p>
    {% endif %}
						</section>
{% endblock %}